In [ ]:
#

In [ ]:
# Write a code to create a string with your name and print it?
 # s=("sachin")

:#data structure

1 what are the data structure and why the are important?
  
  data structure are the way of organising data ,and storing data in the computer mamory is called data structure .in data structure data can be modified and can be manipulated.

2 Explain the mutable and immutable data structure .and there example?
  
  mutable are the data structures that can be modified or can be change
  and remove that are called mutable data strutures like list , and etc.

  immutable are the data struture that  can not be change and modified called
  immutable data strutures like tuples

3 what are the main difference btw list and tuple in the python ?
  
  the main difference btw list and tuple is
  1 list are mutable and can be modified
  2tuples are immutable

4 describe how dictionaries store data in python ?
  dictionaries store data in key : and value pairs we can get the access the values by key  

5 why might you use set instead of list in pyhton?
  
  we use sets instead of list because set not show same element multiple times

6 what are strings in python and how the are different from list ?

  strings are the sequence of characters in single and double
  but list are the sequence of characters the could be anything # integer ,float ,string anything .

7 how tuples ensure the data integrity in python ?

  tuple ensure the data integrity in python once tuples are created the cannot be change thats how the ensure the data integrity in python .

8 what are hash table in python and how the relate to the dictionaries ?

  hash tables are the type of data structure which efficiently store key_values
  essentially acting as a dictionary.

9 can list cantain different data type in python ?

   yes list have different data type for instance strings ,integer.

10 explain why strings are immutable in python?
  
  stings are immutable in python because once the are created the cannot be
  change .

11 what advantage  dictionaries offer over lists for certain tasks?

   dictionaries are better then list in compare to searches ,and lookup ,
   easy to use .

12  define a scenrio where using tuple over a list would be preferable ?
  
  we can use tuple where fixed order of collection of elements .use where
  immutable element are need

13 how do sets handle duplicate values in  python ?

   sets in python are immutable and do not duplicate the value or unordered.

14 how does the "in " keyword work different in list and dictionaries ?

   in list "in " operation take longer time for searches and in dictionaries
   "in"operation take same amount time no matter how many items in the dictionaries

15 can you modify the items of tuple .why or why not ?

   NO the items of tuple can not be modify because once the created the can not
   be change

16 what is a nested dictionaries ,give an example of it and use of it?

  A nested dictionary in python is a dictionary where one of its value in
  another dictionary.store data in heirarchial order .

17 describe the time comlexity of accessing element in a dictionaries ?

   time complexity of accessing element in a dictionaries is o(1) on average

18 in what situations lists are preferred over dictionaries?

     A list is preferable over dictionary when the order of elements of collection is crucial frequently need adding ,and removing .

19 why lists are considered as unordered and how does it affect the data
   retrieval ?

   list are simply used to list the imformation no need to orderered and unordererd items lists are best for general listing of imformation .

20 Explain the difference btw list and dictionaries in terms of data
   retrieval ?

   A list refer to colllection of various index value pairs like that in the case of an array in c++
   dictionaries are refer to hash table structureof  various pairs of key value

# New Section

#

In [ ]:
# 1 Write a code to create a string with your name and print it?
s=("sachin")
print(s)

sachin

In [ ]:
#2 Write a code to find the length of the string "Hello World"
s=("hello world")
print(len(s))

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
s=("python programmnig")
print(s[0:3])

pyt

In [ ]:
#  Write a code to convert the string "hello" to uppercase?
s=("hello")
print(s.upper())

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple?
s=("i like apple")
s.replace("apple","orange")

'i like orange'

In [ ]:
 #  Write a code to create a list with numbers 1 to 5 and print it?
 l=[1,2,3,4,5]
 print(l)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]?
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [ ]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list=['a','b','c','d']
print(list)

['a', 'b', 'c', 'd']

In [ ]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].?
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

t=(100,200,300)
print(t)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
t=('red','green','blue','yellow')
print(t[2])

blue

In [ ]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
t=(10,20,5,15)
print(min(t))

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog','cat','rabbit')
print(t.index('cat'))

1

In [ ]:
# . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
t=('banana','apple','kiwi')
print('kiwi'in t)

True

In [ ]:
# . Write a code to create a set with the elements 'a', 'b', 'c' and print it
s={'a','b','c'}
print(s)

{'c', 'b', 'a'}

In [ ]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [31]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [32]:
#. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

In [33]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={"name":"sachin","age":"20","city":"bangalore"}
print(d)

{'name': 'sachin', 'age': '20', 'city': 'bangalore'}

In [35]:
#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25
d={"name":"john","age":"25"}
d["country"]="USA"
print(d)

{'name': 'john', 'age': '25', 'country': 'USA'}

In [36]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d={"name":"alice","age":30}
print(d["name"])

alice

In [37]:
# . Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d={"name":"bob","age":22,"city":"new york"}
d.pop("age")
print(d)

{'name': 'bob', 'city': 'new york'}

In [38]:
#  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={"name":"alice","city":"paris"}
print("city" in d)

True

In [42]:
# . Write a code to create a list, a tuple, and a dictionary, and print them all
l=[1,2,3,4]
t=(1,2,3,4)
d={1,2,3,4}
print(l,t,d)

[1, 2, 3, 4] (1, 2, 3, 4) {1, 2, 3, 4}

In [44]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
l=[1,2,3,4,5]
l.sort()
print(l)

[1, 2, 3, 4, 5]

In [46]:
# Write a code to create a list with strings and print the element at the third index.
l=["a", "b","c","d"]
print(l[3])

d

In [47]:
#  Write a code to combine two dictionaries into one and print the result.
d1={"a":1,"b":2}
d2={"c":3,"d":4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [49]:
# Write a code to convert a list of strings into a set
l=["a","b","c","d"]
s=set(l)
print(l)
type(l)

['a', 'b', 'c', 'd']

list